/* Overall styling for the body */
body {
    background-color: #00ffffd3;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Styling for the hero section at the top */
.hero {
    background-color: #00ffffd3;
    color: #333;
    padding: 3rem 1.5rem;
    border-radius: 10px;
    text-align: center;
}

/* Styling for the box containing cat images */
.box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for cat images within the box */
#catImage img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Styling for the advice button */
#adviceButton {
    margin-top: 20px;
    display: block;
    margin: 0 auto;
    font-size: 1.5em;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

/* Styling for the advice button on hover */
#adviceButton:hover {
    background-color: #008080;
}

/* Styling for the advice notification area */
#advice.notification {
    margin-top: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
}

/* Styling for the footer at the bottom of the page */
.footer {
    margin-top: auto;
    padding: 1rem 0;
    background-color: #00ffffd3;
    color: #333;
    border-top: 1px solid #ccc;
}